$espacio: 10px;
$tamaño: 40px;
$parrafo: 2rem;
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container {  
    height: 99vh;
    width: 99vw;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "sectionA sectionA sectionA"
      "sectionB sectionB aside"
      "article1 article2 aside"
      "footer footer footer";
} 
body{
    background-image: url(../img/fondoproyecto.jpeg);
    background-size: cover;
}
  
header { 
    margin: 10px;
    background-color: black;
    img{
        width: 100px;
    }
    h1{
        background-color: black;
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 10rem;
        font-family: 'Elsie', serif;
    } 
    nav{
        background-color: black;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        padding: 30px;
        ul{
            list-style: nome;
            justify-content: center;
            display: flex;
            padding: $espacio;
            li{
                list-style: none;
                a{
                    padding: $espacio;
                    margin: 20px;
                    color: white;
                    text-decoration: none;
                    display: flex;
                    list-style: none;
                    &:hover{
                        color: black;
                        background-color:white; 
                        border-radius: 50px;
                    }
                }
            }
        }
    }   
}
main{
    .sectionA{
        margin: 10px;
        grid-area: sectionA;
        background-color: black;
        nav{
            background-color: black;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            padding: 30px;
            ul{
                list-style: nome;
                justify-content: center;
                display: flex;
                padding: 10px;
                li{
                    list-style: none;
                    a{
                        padding: 10px;
                        margin: 20px;
                        color: white;
                        text-decoration: none;
                        display: flex;
                        list-style: none;
                        &:hover{
                            color: black;
                            background-color:white; 
                            border-radius: 50px;
                        }
                    }
                }
            }
        }
        h2{
            color: white;
            font-family: 'Elsie', serif;
            text-align: center;
            padding: 10px;
            font-size: $parrafo;
        }
        
    }
    .sectionB{
        background-color: black;
        grid-area: sectionB;
        margin: 10px;
        h2{
            color: white;
            font-family: 'Elsie', serif;
            text-align: center;
            padding: 10px;
            font-size: $parrafo;
        }
        .letrablanca{
            color: white;
            font-size: 2rem;
            padding: 10px;
            font-family: 'Elsie', serif;
        }
        .letranegra{
            color: black;
            font-size: 2rem;
            padding: 10px;
            font-family: 'Elsie', serif;
        }
        .formulario{
            color: black;
            padding: 20px;
            font-weight: bold;
            font-size: larger;
            font-family: 'Elsie', serif;
            line-height: 1.5cm;
            width: fit-content;
            background-color: white;
        }
        .locales{
            color: white;
            margin: 20px;
            padding: 20px;
            font-weight: bold;
            font-size: larger;
            font-family: 'Elsie', serif;
        } 
        h3{
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 2rem;
            font-family: 'Elsie', serif;
            margin: 10px;    
        } 
    }
    .article1{
        background-color: black;
        grid-area: article1;
        margin: 10px;
        .reasonacordeon{
            background-color: darkviolet;
        }
        .logo{
            width: $tamaño;
        }
    }
    .article2{
        background-color: black;
        grid-area: article2;
        margin: 10px;
        .letrablanca{
            color: white;
            text-align: center;
            padding: 20px;
            font-size: $parrafo;
            font-family: 'Elsie', serif;
            margin: 20px;   
        }
    }    
    .aside{
        background-color: white;
        grid-area: aside;
        margin: 10px;
        text-align: center;
        h3{
            font-family: 'Elsie', serif;
            padding: $espacio;
            text-align: center;
            font-size: $parrafo;
            line-height: 1.5cm;
            font-weight: lighter;
        }
        .letranegra{
            color: black;
            font-size: 2rem;
            font-family: 'Elsie', serif;
        }
        ul{
           list-style-type: none;
        }

    }
}
footer{
    background-color: black;
    grid-area: footer; 
    margin: 10px;
    text-align: center;
    .logo2{
        width: 50px;  
    }
    h3{
        color: white;
        text-align: center;
        padding: 20px;
        font-size: 2rem;
        font-family: 'Elsie', serif;
        margin: 10px;    
    }

}